html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  color: #676a6c;
}
header {
  height: 30rem;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #f90;
  background: -moz--webkit-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -moz--moz-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -moz--o-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -moz--ms-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -moz-linear-gradient(to bottom, #f90 0%, #f57b00 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f90), color-stop(100%, #f57b00));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f90), color-stop(100%, #f57b00));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f90), color-stop(100%, #f57b00));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f90), color-stop(100%, #f57b00));
  background: -webkit-gradient(to right bottom, left bottom, color-stop(0%, #f90), color-stop(100%, #f57b00));
  background: -webkit--webkit-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -webkit--moz-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -webkit--o-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -webkit--ms-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -webkit-linear-gradient(to bottom, #f90 0%, #f57b00 100%);
  background: -o--webkit-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -o--moz-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -o--o-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -o--ms-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -o-linear-gradient(to bottom, #f90 0%, #f57b00 100%);
  background: -ms--webkit-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -ms--moz-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -ms--o-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -ms--ms-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -ms-linear-gradient(to bottom, #f90 0%, #f57b00 100%);
  background: -webkit-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -moz-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -o-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: -ms-linear-gradient(top, #f90 0%, #f57b00 100%);
  background: linear-gradient(to bottom, #f90 0%, #f57b00 100%);
}
@media only screen and (max-width: 1024px) {
  header {
    height: auto;
    padding: 3rem 0;
  }
}
header h1 {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 4.5rem;
  font-weight: 300;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-right: solid 2px #fff;
  padding: 0 0.625rem 0.625rem 0;
}
header h1 span {
  display: block;
  margin-top: 0.625rem;
  padding-right: 0.3125rem;
  font-size: 1.3rem;
  text-align: right;
}
@media only screen and (max-width: 1024px) {
  header h1 span {
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  header h1 {
    border: none;
    position: static;
    text-align: center;
    -webkit-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    padding-right: 0;
  }
}
@media only screen and (max-width: 481px) {
  header h1 {
    font-size: 3rem;
  }
}
section,
header .container {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section:before,
header .container:before,
section:after,
header .container:after {
  content: '';
  display: table;
}
section:after,
header .container:after {
  clear: both;
}
footer {
  text-align: center;
  background: #333;
  padding: 1.5rem 0;
}
footer a {
  color: #676a6c;
  text-decoration: underline dotted #676a6c;
}
@media only screen and (max-width: 1024px) {
  footer a {
    color: #fff;
    text-decoration: underline dotted #fff;
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    color: #fff;
    padding: 2rem;
  }
}
section {
  text-align: center;
  padding: 2.7rem 0;
}
section:last-of-type {
  padding-bottom: 5.4rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
h2:before {
  display: block;
  content: " ";
  width: 3.75rem;
  height: 2px;
  border-bottom: solid 2px #f90;
  margin: 0 auto 0.5rem;
}
@media only screen and (max-width: 1024px) {
  h2 {
    padding: 0 1.5rem;
  }
}
h3 {
  font-size: 1.25rem;
  color: #676a6c;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  line-height: 1.625;
  margin-bottom: 1rem;
  color: #333;
  padding: 0 10rem;
}
p:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 1024px) {
  p {
    padding: 0 1.5rem;
  }
}
a {
  color: #f57c00;
  font-weight: 400;
  text-decoration: underline dotted #f57c00;
}
hr {
  margin: 2rem 0;
  color: #dbdbdb;
  background-color: #dbdbdb;
  height: 1px;
  border: 0;
}
.one-third {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.one-third:before,
.one-third:after {
  content: '';
  display: table;
}
.one-third:after {
  clear: both;
}
.one-third:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 1024px) {
  .one-third {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .one-third:first-child {
    margin-left: auto;
  }
  .one-third:last-child {
    margin-right: auto;
  }
}
.center {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .small_no_margin {
    margin: 0;
  }
}
.feature {
  -webkit-box-shadow: 0px 0px 6px 0px #dedede;
  -moz-box-shadow: 0px 0px 6px 0px #dedede;
  -webkit-box-shadow: 0px 0px 6px 0px #dedede;
  box-shadow: 0px 0px 6px 0px #dedede;
  padding-bottom: 1rem;
}
.feature .upper_half {
  padding: 1rem 0;
}
.feature .upper_half h3 {
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}
.feature .upper_half p {
  padding: 0.5rem;
}
.feature .lower_half {
  padding: 0 1rem;
}
.feature .lower_half .img_container {
  position: relative;
  height: 20rem;
  overflow: hidden;
  border: 1px dashed #dbdbdb;
}
@media only screen and (max-width: 1024px) {
  .feature .lower_half .img_container {
    height: 12rem;
  }
}
.feature .lower_half .img_container img {
  height: auto;
  width: 100%;
  -webkit-animation: kenburns 40s infinite;
  -moz-animation: kenburns 40s infinite;
  -o-animation: kenburns 40s infinite;
  -ms-animation: kenburns 40s infinite;
  animation: kenburns 40s infinite;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.container {
  padding: 0 1rem;
  overflow: hidden;
}
.container.features {
  margin-bottom: 1.5rem;
}
a.logo_small {
  display: none;
}
@media only screen and (max-width: 1024px) {
  a.logo_small {
    display: block;
    position: relative;
    margin: 2rem auto 0;
    padding-bottom: 2.5rem;
    width: 96px;
    height: 96px;
    background: url("../images/logo.svg") no-repeat;
    text-decoration: none;
  }
}
a.logo_small:before {
  display: block;
  content: '';
  width: 32px;
  height: 29px;
  position: absolute;
  top: 94px;
  left: 24px;
  background: url("../images/arrow.svg") no-repeat;
}
a.logo_small:after {
  display: block;
  content: 'Get it now!';
  font-family: 'Patrick Hand', cursive;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 108px;
  left: -76px;
}
.phone {
  position: absolute;
  left: 56%;
  bottom: 0;
  width: 277px;
  height: 386px;
  background: url("../images/phone.png");
  -webkit-animation: fadeInUp 2s;
  -moz-animation: fadeInUp 2s;
  -o-animation: fadeInUp 2s;
  -ms-animation: fadeInUp 2s;
  animation: fadeInUp 2s;
}
@media only screen and (max-width: 1024px) {
  .phone {
    display: none;
  }
}
.phone a.logo {
  position: absolute;
  left: 75px;
  top: 136px;
  width: 128px;
  height: 128px;
  background: url("../images/logo.svg") no-repeat;
  text-decoration: none;
}
.phone a.logo:before {
  display: block;
  content: '';
  width: 32px;
  height: 29px;
  position: absolute;
  top: 126px;
  left: 92px;
  background: url("../images/arrow.svg") no-repeat;
}
.phone a.logo:after {
  display: block;
  content: 'Get it now!';
  font-family: 'Patrick Hand', cursive;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 140px;
  left: -8px;
}
.weaker {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#flavour {
  background: #f57c00;
  max-width: none;
  color: #fff;
}
#flavour h2 {
  margin-bottom: 2rem;
}
#flavour h2:before {
  visibility: hidden;
}
#flavour p {
  color: #fff;
}
.badges {
  margin-top: 1rem;
}
.badges a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.badges a:before,
.badges a:after {
  content: '';
  display: table;
}
.badges a:after {
  clear: both;
}
.badges a:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 1024px) {
  .badges a {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .badges a:first-child {
    margin-left: auto;
  }
  .badges a:last-child {
    margin-right: auto;
  }
}
.badges a img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.badges a img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.badges .badge_gp {
  text-align: right;
}
@media only screen and (max-width: 1024px) {
  .badges .badge_gp {
    text-align: center;
    margin-bottom: 1.25rem;
  }
}
.badges .badge_ws {
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .badges .badge_ws {
    text-align: center;
  }
}
#upcoming {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
}
#upcoming:target {
  display: block;
}
#upcoming .dialog {
  background: #fff;
  max-width: 32rem;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem;
  -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */;
  -moz-box-sizing: border-box /* Firefox, other Gecko */;
  -webkit-box-sizing: border-box /* Opera/IE 8+ */;
  -moz-box-sizing: border-box /* Opera/IE 8+ */;
  box-sizing: border-box /* Opera/IE 8+ */;
}
@media only screen and (max-width: 1024px) {
  #upcoming .dialog {
    padding: 1rem;
    min-height: 100%;
    max-width: none;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media only screen and (max-width: 1024px) {
  #upcoming .dialog .dialog_content_wrapper {
    padding: 2rem;
  }
}
#upcoming .dialog h3 {
  margin-bottom: 1rem;
}
#upcoming .dialog h4 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}
#upcoming .dialog ul {
  list-style-type: circle;
  margin-left: 1rem;
}
#upcoming .dialog p {
  padding: 0;
  margin-bottom: 0.5rem;
}
#upcoming .dialog a.button_close {
  text-decoration: none;
  font-size: 2.5rem;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}
#upcoming .dialog a.button_close:hover {
  color: #333;
}
@media only screen and (max-width: 1024px) {
  #upcoming .dialog a.button_close {
    display: none;
  }
}
#upcoming .dialog .close_small {
  display: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1024px) {
  #upcoming .dialog .close_small {
    display: block;
  }
}
#upcoming .dialog .close_small a {
  color: #f57c00;
  text-decoration: none;
}
@-moz-keyframes kenburns {
  0% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
  80% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%) /* IE 9 */;
    -webkit-transform: scale(1) translateX(-50%) /* Safari and Chrome */;
    -o-transform: scale(1) translateX(-50%) /* Opera */;
    -moz-transform: scale(1) translateX(-50%) /* Firefox */;
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
}
@-webkit-keyframes kenburns {
  0% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
  80% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%) /* IE 9 */;
    -webkit-transform: scale(1) translateX(-50%) /* Safari and Chrome */;
    -o-transform: scale(1) translateX(-50%) /* Opera */;
    -moz-transform: scale(1) translateX(-50%) /* Firefox */;
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
}
@-o-keyframes kenburns {
  0% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
  80% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%) /* IE 9 */;
    -webkit-transform: scale(1) translateX(-50%) /* Safari and Chrome */;
    -o-transform: scale(1) translateX(-50%) /* Opera */;
    -moz-transform: scale(1) translateX(-50%) /* Firefox */;
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
}
@keyframes kenburns {
  0% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
  80% {
    -webkit-transform: scale(1) translateX(-50%);
    -moz-transform: scale(1) translateX(-50%);
    -o-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%) /* IE 9 */;
    -webkit-transform: scale(1) translateX(-50%) /* Safari and Chrome */;
    -o-transform: scale(1) translateX(-50%) /* Opera */;
    -moz-transform: scale(1) translateX(-50%) /* Firefox */;
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-40%);
    -moz-transform: scale(1.2) translateX(-40%);
    -o-transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%);
    transform: scale(1.2) translateX(-40%);
    -ms-transform: scale(1.2) translateX(-40%) /* IE 9 */;
    -webkit-transform: scale(1.2) translateX(-40%) /* Safari and Chrome */;
    -o-transform: scale(1.2) translateX(-40%) /* Opera */;
    -moz-transform: scale(1.2) translateX(-40%) /* Firefox */;
  }
}
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
